.mat-drawer-container {
    height: 100vh;

    .logo-container {
        width: 250px;
        height: 63px;
        border-bottom: 1.3px solid rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-items {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0 16px;
            height: 48px;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }
}