<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer [opened]="true" #drawer mode="side">
    <div class="logo-container">
      Platz für LOGO
    </div>

    <ul class="menu-items">
      <li><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li><mat-icon>person_search</mat-icon>Users</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar>

  </div>

</mat-drawer-container>