<mat-card class="user-detail-header">
    <div class="container">
        <img src="assets/img/sleep.png" alt="">
        <div class="user-details">
            <h2>{{userData?.firstName}} {{userData?.lastName}}</h2>
            {{userData?.birthDate | date:'dd.MM.yyyy'}} <br>
            {{userData?.email}}
        </div>
    </div>
</mat-card>

<mat-card class="mt-16">
    <mat-card-header>
        <mat-card-title>Address:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{userData?.street}} <br>
        {{userData?.zipCode}} {{userData?.city}}
    </mat-card-content>
</mat-card>