<mat-card>
    <table class="user-row">
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>E-Mail</th>
            <th>Street</th>
            <th>ZipCode</th>
            <th>City</th>
        </tr>
        @for (currentUser of allUsers$ | async; track currentUser.id) {
        <tr [routerLink]="['/user/' + currentUser.id]">
            <td>{{ currentUser.firstName }} {{ currentUser.lastName }}</td>
            <td>{{ currentUser?.birthDate | date:'dd.MM.yyyy'}}</td>
            <td>{{ currentUser.email }}</td>
            <td>{{ currentUser.street }}</td>
            <td>{{ currentUser.zipCode }}</td>
            <td>{{ currentUser.city }}</td>
        </tr>
        } @empty {
        <tr>
            <td colspan="5">Keine User vorhanden</td>
        </tr>
        }
    </table>
</mat-card>

<button (click)="openDialog()" class="addButton" matTooltip="Add User" mat-fab
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>