<mat-card>
    <table class="user-row">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>
                fhvbd
            </td>
            <td>
                fhvbd
            </td>
            <td>
                fhvbd
            </td>
        </tr>

        <tr>
            <td>
                fhvbd
            </td>
            <td>
                fhvbd
            </td>
            <td>
                fhvbd
            </td>
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" class="addButton" matTooltip="Add User" mat-fab
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>